body {
    margin: 0;  
}

body, p, h1, h2, h3, li {
    font-family: 'Rubik', sans-serif;
}

#mainrow {
    margin: 10px 15px;
}

#heading {
    background-color: rgb(22, 21, 21);
}

header h1 {
    color: white;
    margin: 0;
    align-items: center;
    height: 8vh;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

h2, h3, h4 {
    font-weight: bold;
}
.input {
    height: 3.5vh;
    width: 20vw;
}

#searchBtn {
    height: 40px;
    width: 45px;
}

.current {
    font-size: 23px;
}

ul {
    list-style: none;
}

li {
    font-size: 23px;
}

.cityLI {
    border-bottom: 2px solid lightseagreen;
    margin-right: 40px;
    text-transform: capitalize;
    font-size: 30px;
    
}

#low {
    background: rgb(0, 134, 0);
    color:white;
    padding: 10px 10px;
    border-radius: 15px;
}

#moderate {
    background: rgb(255, 238, 5);
    color: black;
    padding: 10px 10px;
    border-radius: 15px;
}
#midhigh {
    background: rgb(255, 126, 5);
    color: black;
    padding: 10px 10px;
    border-radius: 15px;
}

#high {
    background: red;
    color: white;
    padding: 10px 10px;
    border-radius: 15px;
}
#severe {
    background: rgb(96, 0, 160);
    color: white;
    padding: 10px 10px;
    border-radius: 15px;
}

